/*Foont------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/*variable Definition---------------------------------------------*/
:root {
  --green-color: hsl(75, 94%, 57%);
  --white-color: hsl(0, 0%, 100%);
  --gray-700-color: hsl(0, 0%, 20%);
  --gray-800-color: hsl(0, 0%, 12%);
  --gray-900-color: hsl(0, 0%, 8%);
}
/*Body Styles -------------------------------------------------*/
body {
  margin: 0;
  padding: 0;
  height: auto;
  /*Make robust fallback for the font-family*/
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: var(--gray-900-color);

  /*Main Styles --------------------------------------------------*/
  .main {
    position: relative;
    display: grid;
    place-items: center;
    width: 100%;
    height: 100svh;

    /*Section Styles ---------------------------------------------*/
    .card-section {
      /*
    -padding-block is for the top & bottom padding.
    -padding-inline is for the left & right padding.
    -these numbers in cacl() are found using linear equation. two points in coordinate.
    (1000px, 40px)(600px, 0px) & (1000px, 40px)(600px, 24px).
    */
      padding-block: clamp(0px, calc(11.0803vw - 36.233px), 40px);
      padding-inline: clamp(24px, calc(4.4321vw + 9.507px), 40px);
      /*Card Wrapper Styles------------------------------------*/
      .card-wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: 1 0 0;
        gap: 24px;
        padding: clamp(24px, 4vw, 40px);
        width: clamp(279px, 60vw, 304px);
        border-radius: 12px;
        background: var(--gray-800-color);
        /*Card Image Container Styles -----------------------*/
        .card-image-container {
          display: flex;
          align-items: center;
          justify-content: center;
          aspect-ratio: 1 / 1;
          overflow: hidden;
          /*Card Image Styles------------------------------*/
          .card-image {
            width: clamp(4.0625rem, calc(4.1rem + 0.5vw), 5.5rem);
            height: clamp(4.0625rem, calc(4.1rem + 0.5vh), 5.5rem);
            object-fit: cover;
            display: block;
            border-radius: 999px;
          }
        }

        /*Card User Info Container Styles --------------------*/
        .card-user-info-container {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 4px;
          /*Card user name Styles --------------------------*/
          .card-user-name {
            margin: 0;
            padding: 0;
            color: var(--white-color);
            text-align: center;
            font-size: clamp(
              1rem,
              calc(20px + (24 - 20) * ((100vw - 320px) / (1440 - 320))),
              1.2rem
            );
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: 0.02rem;
          }
          /*Card User Location Styles ---------------------*/
          .card-user-location {
            padding: 0;
            margin: 0;
            color: var(--green-color);
            text-align: center;
            font-size: clamp(
              0.6rem,
              calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320))),
              0.7rem
            );
            font-style: normal;
            font-weight: 700;
            line-height: 150%;
          }
        }
        /*Card User Work Container Styles ---------------------*/
        .card-user-work-container {
          width: 100%;
          /*Card User Info Styles -------------------------*/
          .card-user-work {
            padding: 0;
            margin: 0;
            text-align: center;
            color: var(--white-color);
            font-size: clamp(
              0.6rem,
              calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320))),
              0.7rem
            );
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
          }
        }

        /*Card Content Container Styles ----------------------*/
        .card-links-container {
          width: 100%;
          height: 100%;
          padding: 0px;
          margin: 0px;
          /*Card Links List Styles -------------------------*/
          .card-links-list {
            width: 100%;
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            gap: 16px;
            li {
              border-radius: 8px;
              background: var(--gray-700-color);
              padding: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              align-self: stretch;
              transition: background 0.5s ease;

              a {
                width: 100%;
                text-decoration: none;
                color: var(--white-color);
                font-size: clamp(
                  0.6rem,
                  calc(12px + (14 - 12) * ((100vw - 320px) / (1440 - 320))),
                  0.7rem
                );
                font-style: normal;
                font-weight: 700;
                line-height: 150%;
                transition: color 0.5s ease;
              }
              &:hover {
                background: var(--green-color);
                a {
                  color: var(--gray-900-color);
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 700;
                  line-height: 150%;
                }
              }
            }
          }
        }
      }
    }
  }

  /*Footer Styles -----------------------------------------------*/
  .footer {
    position: fixed;
    bottom: 1px;
    width: 100vw;
    .footer-list {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      align-self: stretch;
      gap: 5px;
      list-style: none;
      span {
        color: var(--white-color);
      }
    }
  }
}
